body#tinymce.wp-editor { 
    font-family:'Foundry Origin W01';
    color: #010102;
    font-size: 16px;
    line-height: 28px;
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
	color: #010102;
	font-family:'Foundry Origin W01';
	font-weight: 600;
}

body#tinymce.wp-editor h2 {
	font-weight: 600;
}


body#tinymce.wp-editor a {
	text-decoration: underline;
	color: #8da997;
}

a.bijlage {
	color: #66400b !important;
	text-decoration: underline;
	text-transform: uppercase;
}

	a.bijlage:before {
		content: "";
		position: absolute;
		left: -35px;
		background: transparent url('/wp-content/themes/keningfanegreide/lib/img/kfeg_arrow_right_brown.svg') left center no-repeat;
		width: 20px;
		height: 12px;
		background-size: cover;
		margin-top: 5px;
	}