/*
Theme Name: Kening fan 'e Greide
Theme URI: http://www.keningfanegreide.nl/
Author: BWH ontwerpers
Author URI: http://bwhontwerpers.nl/
Description: Het (responsive) WordPress thema voor de website van Kening fan 'e Greide.
Version: 1.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: kfeg
*/

/*
font-family:'Neue Helvetica W01';
*/

/*
=================================================================================
RESET
=================================================================================
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}caption,td,th{font-weight:400;text-align:left}h1,h2,h3,h4,h5,h6{clear:both}html{overflow-y:scroll;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none}del{color:#333}ins{background:#fff9c0;text-decoration:none}hr{background-color:#ccc;border:0;height:1px;margin:24px;margin-bottom:1.714285714rem}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}small{font-size:smaller}img{border:0;-ms-interpolation-mode:bicubic}.clear:after,.format-status .entry-header:after,.wrapper:after{clear:both}.clear:after,.clear:before,.format-status .entry-header:after,.format-status .entry-header:before,.wrapper:after,.wrapper:before{display:table;content:""}

/*
=================================================================================
GRID
=================================================================================
*/
.row{position:relative;float:left;width:100%;height:auto}.section{position:relative;margin:0 auto;height:auto}.col{border:0 solid rgba(0,0,0,0);position:relative;float:left;box-sizing:border-box;background-clip:padding-box!important;padding:0;}.col_1{width:6.25%}.col_2{width:12.5%}.col_3{width:18.75%}.col_4{width:25%}.col_5{width:31.25%}.col_6{width:37.5%}.col_7{width:43.75%}.col_8{width:50%}.col_9{width:56.25%}.col_10{width:62.5%}.col_11{width:68.75%}.col_12{width:75%}.col_13{width:81.25%}.col_14{width:87.5%}.col_15{width:93.75%}.col_16{width:100%;}.boxed{box-sizing:border-box;}.col_first{border-left-width: 0px !important;}.col_third{width:33.33333%; border-right-width: 0; border-left-width: 20px;}.col_third:nth-child(3n+0){}.col_sixth {width:66.6666%;}

/*
=================================================================================
FONTS
=================================================================================
*/
 
@font-face {
    font-family: 'thinskinned';
    src: url('lib/fonts/thin_skinned-webfont.eot');
    src: url('lib/fonts/thin_skinned-webfont.eot?#iefix') format('embedded-opentype'),
         url('lib/fonts/thin_skinned-webfont.woff2') format('woff2'),
         url('lib/fonts/thin_skinned-webfont.woff') format('woff'),
         url('lib/fonts/thin_skinned-webfont.ttf') format('truetype'),
         url('lib/fonts/thin_skinned-webfont.svg#thin_skinnedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
=================================================================================
ATOMS
primary building blocks for single elements (a, input, button, etc.)
=================================================================================
*/

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

.col{ border-left-width: 20px; }

input:focus::-webkit-input-placeholder { color:transparent !important; }
input:focus:-moz-placeholder { color:transparent !important; }
input:focus::-moz-placeholder { color:transparent !important; }
input:focus:-ms-input-placeholder { color:transparent !important; }

a,
a:before,
a i,
button,
.animated,
.site-header__menu-button,
.site-header__menu-button i,
.site-scrolltop-button,
.site-scrolltop-button i,
a.action,
a.action:after,
.site-footer__link--left:before,
.header__visual__icon svg path,
.header__visual__close svg path,
.site-footer__link--right:after {
	-webkit-transition: all 275ms cubic-bezier(.55,0,.1,1);
	        transition: all 275ms cubic-bezier(.55,0,.1,1);
}

.bounce,
.content__sidebar__button:before,
.content__sidebar__button[rel=init_region_module]:before {
-webkit-transition: all 275ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
-webkit-transition: all 275ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
   -moz-transition: all 275ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
     -o-transition: all 275ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
        transition: all 275ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}


.animated_color,
.site-header__back-button,
.site-header__back-button i {
	-webkit-transition: background-color 275ms cubic-bezier(.55,0,.1,1),color 275ms cubic-bezier(.55,0,.1,1);
	        transition: background-color 275ms cubic-bezier(.55,0,.1,1),color 275ms cubic-bezier(.55,0,.1,1);	
}
.animated_drawer {
		    transition-property: left;
		    -webkit-transition-duration: 175ms;
		            transition-duration: 175ms;
		    -webkit-transition-timing-function: cubic-bezier(.55,0,.1,1);
		            transition-timing-function: cubic-bezier(.55,0,.1,1);
    -webkit-transition-property: left;
    -webkit-transition-duration: 175ms;
    -webkit-transition-timing-function: cubic-bezier(.55,0,.1,1);
}

a {}
input {}
img {}
select {}
.button {}
.shade {
	}
img {
	max-width: 100%;
	height: auto;
}

a.button {
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
	background-color: #654017;
	color: #fff !important;
	padding: 10px 25px;
}

	a.button--white {
		background-color: rgb(255,255,255);
		color: rgb(229,8,130) !important;
	}

	a.button:hover {
		background-color: rgb(89,172,49);
		color: rgb(255,255,255) !important;
	}

a.action {
	font-weight: 400;
	font-size: 20px;
	text-decoration: none;
	color: rgb(255,255,255);
	padding-left: 40px;
}

	a.action:after {
	    content: "\f061";
	    display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    margin-left: 15px;
	}
	
	a.action:hover::after {
		margin-left: 20px;
	}

div.print,div.desktop,div.smartphone,div.tabletportrait,div.tabletlandscape { display: none; } div.desktop { display: block; }

/* Headers */
.h2--large {
	font-size: 36px;
	line-height: 43px;
	font-weight: 600;
	max-width: 85%;
}

.h1--archive {
	text-align: center;
	font-size: 88px;
	line-height: 75px;
	font-weight: 600;
	margin-bottom: 40px;	
}

.h1--single {
	text-align: left;
	font-size: 68px;
	line-height: 75px;
	font-weight: 600;
	margin-bottom: 40px;
}

.h1--page {
	text-align: center;
}

.h3--subtitle {
	text-align: center;
	font-size: 26px;
	line-height: 36px;
	font-weight: 400;
	margin-bottom: 50px;
	margin-top: -15px;
	font-style: italic;
}


hr {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 1px;
	background-color: #808283;
}

	.hr--top {
		margin-bottom: 23px;
	}
	
	.hr--bottom {
		margin-top: 23px;
	}


/*
=================================================================================
HEADER
=================================================================================
*/

/*
=================================================================================
MENU
=================================================================================*/

/*
=================================================================================
TEMPLATES

element specific arrangement of organisms
=================================================================================
*/

.dynamic_width {
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

/* HEADER */
.header {
	height: 670px;
	position: fixed;
	top: 0px;
	z-index: 0;
}

	body.home .header {
		height: 90vh;
	}

.header .section {
	padding-right: 20px;
}

/* HEADER VISUAL */
.header__visual {
	background-size: cover;
	background-position: center top;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
}

	.header__visual--small {
		height: 670px;
		background-position: center bottom;
	}

	.header__visual:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		opacity: .5;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
		background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
		background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 */
	}
	
	.header__visual--small:after {
		background: rgba(0,0,0,.6);
		opacity: 1;
	}
	
	.header__visual--small.presentation-mode:after {
		opacity: 0;
	}

/* HEADER OVERLAY */
.header__visual__interaction {
	position: absolute;
	width: auto;
	margin-left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);	
}

	/*
	body.minimal .header__visual__interaction {
		top: 40px;
		transform: translate(-50%, 0);
	}
	*/
		
	.header__visual__interaction--small {
		top: 40px;
	}

	.header__visual__interaction h3 {
		text-align: center;
		color: #fff;
		font-family:'Itchy Handwriting W00';
		text-transform: uppercase;
		font-size: 30px;
		line-height: 30px;
		margin: 0 0 12px 0;
	}
	
		.header__visual__interaction--small h3 { display: none; }

	
	.header__visual__interaction h2 {
		text-align: center;
		color: #fff;
		font-family:'Itchy Handwriting W00';
		text-transform: uppercase;
		font-size: 58px;
		line-height: 58px;
	}
	
		.header__visual__interaction--small h2 { display: none; }
	
	.header__visual__interaction__button {
		border: 2px solid #fff;
		border-radius: 50px;
		color: #fff;
		text-align: center;
		font-family:'Itchy Handwriting W00';
		text-transform: uppercase;
		font-size: 22px;
		padding: 7px 45px 7px 25px;
		text-decoration: none;
		position: relative;
		float: left;
		margin-left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
		margin-top: 30px;
		width: auto;
		min-width: 275px;
	}
	
	.header__visual__interaction__button svg {
		position: absolute;
		width: 14px;
		height: 12px;
		top: 12px;
		right: 20px
	}
	
	.header__visual__interaction__button:hover {
		background-color: #fff;
		color: #000702;
	}
	
	.header__visual__interaction__button:hover svg {
		right: 15px;	
	}
	
	.header__visual__interaction__button:hover svg path {
		fill: #000702;
	}

/* HEADER LOGO, ICON & BRAND */

.header__visual__logo {
	width: 170px;
	height: auto;
	position: relative;
	float: left;
	margin: 0 0 0 47px;
}

.start_logo {
	width: 50%;
	margin: 5% auto;
	max-width: 300px;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: none;
}

.start_nav.hidenow {
	pointer-events: none;
	display: none !important;
}

.start_nav {
	position: fixed;
	right: -60px;
	top: 45%;
	-webkit-transform: translate(0%, -50%);
	    -ms-transform: translate(0%, -50%);
	        transform: translate(0%, -50%);
	z-index: 10002;
	padding: 40px;
	background: #8da997;
	opacity: 1;
	pointer-events: all;
	-webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	text-transform: uppercase;
	display: none;
}

.start_nav span {
	font-family:'Itchy Handwriting W00';
	font-size: 90px;
	line-height: 0px;
	margin-top: -5px;
}

.start_nav span:hover {
	color: black;
	cursor: pointer;
}

.start_nav #p {
	float: left;
	width: 60px;
	opacity: 0;
}

.start_nav #n {
	float: right;
	width: 60px;
	text-align: right;
	color: white;
}

.start_nav p {
	margin: 0;
	padding: 0;
	display: inline;
	font-family:'Foundry Origin W01';
	font-size: 18px;
	line-height: -20px;
}

	.header__nav--small .header__visual__logo,
	.header__nav--small .header__visual__brand {
		display: none;
	}

.header__visual__brand {
	position: relative;
	float: right;
	width: 297px;
	height: auto;
	margin: 0 30px 0 0;
}

	body.minimal .header__visual__brand {
		opacity: 0;
	}

.header__visual__icon {
	width: 36px;
	height: auto;
	position: relative;
	float: left;
	z-index: 7001;
	pointer-events: all;
	cursor: pointer;
}

	body.home .header__visual__icon {
		left: -100px;
		opacity: 0;
		pointer-events: none;
	}
	
	body.minimal .header__visual__icon {
		left: 0;
		opacity: 1;
		pointer-events: all;
	}

.header__visual__close {
	width: 36px;
	height: auto;
	position: relative;
	float: left;
	z-index: 7001;
	pointer-events: all;
	cursor: pointer;
	display: none;
}

	body.state_nav_open .header__visual__icon { display: none; }
	body.state_nav_open .header__visual__close { display: block; }
	
	.header__visual__icon svg path,
	.header__visual__close svg path {
		fill: #fff;
	}

	.header__visual__icon:hover svg path,
	.header__visual__close:hover svg path {
		fill: #b1c1b3;
	}

.header__visual__textlogo {
	position: relative;
	float: left;
	width: 254px;
	height: auto;
	margin-left: 22px;
	margin-top: 12px;
	z-index: 1001;
}

	.header__visual__textlogo:hover {
		opacity: .55 !important;
	}

	.header__visual__linklogo {
		pointer-events: all;
	}

	body.home .header__visual__textlogo {
		opacity: 0;
	}
	
	body.minimal .header__visual__textlogo {
		opacity: 1;
	}

.site_overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.8);
	z-index: 9001;
	display: none;
}

/* HEADER TOP */
.header__top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding-top: 34px;
	pointer-events: none;
	z-index: 6001; /* place above content */
}

	.header__top__link {
		position: relative;
		float: left;
		width: auto;
		pointer-events: all;
	}

/* HEADER NAV BAR (MOBILE) */
.header__mobilenav {
	position: fixed;
	top: 0;
	left: -100%;
	width: 50%;
	background-color: #654017;
	z-index: 6001;

}

	body.state_mobilenav_open .site {
	    position: fixed;
	    left: 50%;
	    pointer-events: none;
	}
	

/* HEADER NAV BAR (LEFT) */
.header__nav {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 172px;
	width: 360px;
	height: 100vh;
	z-index: 1001; /* Place above background and below content */
	/*
	padding-top: 0;
	top: 172px;
	*/
}

	body:not(.home) .header__nav {
		padding-top: 79px;
	}

	.header__nav__wrapper {
		position: absolute;
		left: 0;
		top: 120px;
		bottom: 0;
		width: 90px;
		pointer-events: all;
	}
	
		.header__nav__wrapper:hover {
			width: 290px;
		}

	.header__nav a {
		pointer-events: all;
	}
	
	.header__visual__navitems {
		margin-top: 110px;
		margin-top: 70px;
		padding-left: 20px;
	}

	.header__visual__navitems--small {
		margin-top: 203px;	
		margin-top: 163px;
	}	
	
	.header__visual__navitem {
		list-style-type: none;
		position: relative;
		float: left;
		width: 100%;
		padding-left: 70px;
		margin: 0 0 30px 0;
		height: 30px;
	}
	
	.header__visual__navitem a {
		pointer-events: all;
	}

	.header__visual__navitem.current-menu-item a span,
	.header__visual__navitem:hover a span {
		text-decoration: underline;
	}
		
	body.archive .header__visual__navitem:not(.current-menu-item) a {
		opacity: .5;
	}
	
	.header__visual__navitem:hover a,
	body.archive .header__visual__navitem:hover a {
		opacity: 1;
	}
	
	.header__visual__navitem a {
		text-decoration: none;
	}
	
	.header__visual__navitem span {
		color: #fff;
		font-size: 21px;
	}

	.header__visual__navitem img {
		position: absolute;
		left: 0;
		width: 40px;
		height: auto;
	}
	
	.header__visual__navitem.sub img { 
		display: none; 
	}

	.header__visual__navitem.sub {
		margin-bottom: 0px;
	}

	.header__visual__navitem:not(.sub) + .header__visual__navitem.sub {
		margin-top: -17px;
	}
	
	.header__visual__navitem.sub a span {
		font-size: 16px;
	}
	
	/*body.minimal:not(.navopen) .header__nav .header__visual__navitem span,
	body.minimal .header__visual__navitem span,
	body.minimal--default .header__visual__navitem span,
	.header__nav--small .header__visual__navitem span {
		opacity: 0;
	    position: relative;
	    float: left;
	}
	*/
	.header__visual__extraitems {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	
	.header__nav--small .header__visual__extraitems {
		bottom: auto;
		top: 670px;
	}
	
	.header__visual__pageitems {
		position: absolute;
		top: 570px;
	}
	
		.header__visual__pageitems__item {
			position: relative;
			float: left;
			display: block;
			background-color: #000;
			color: #fff;
			clear: both;
			text-decoration: none;
			font-size: 15px;
			margin-bottom: 5px;
			padding: 5px 15px;
			left: 90px;
		}
		
		.header__visual__pageitems__item:hover {
			background-color: #fff;
			color: #000;
		}
		
		/*
		body.minimal .header__visual__pageitems__item,
		.header__nav--small .header__visual__pageitems__item {
			margin-left: -20px;
			opacity: 0;
		}
		*/


.content__sidebar__search {
	position: absolute;
	right: 0;
	top: 0;
	width: 270px;
	border: none;
	margin: 0 0 0 0;
	padding: 0 7px;
	-webkit-appearance: none;
	height: 95px;
	border-bottom: 1px solid #acbdaf;
	font-size: 16px;
	line-height: 16px;
	color: #010102;
	font-family: 'Foundry Origin W01';
	background-color: rgba(255,255,255,.1);
	border-radius: 0px;
}

	.content__sidebar__search:hover {
		background-color: rgba(255,255,255,.2);	
	}

	.content__sidebar__search::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color: rgba(0, 0, 3, 0.56);
	}
	.content__sidebar__search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: rgba(0, 0, 3, 0.56);
	   opacity:  1;
	}
	.content__sidebar__search::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: rgba(0, 0, 3, 0.56);
	   opacity:  1;
	}
	.content__sidebar__search:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color: rgba(0, 0, 3, 0.56);
	}

.content__sidebar__region select {
	position: absolute;
	right: 0;
	top: 95px;
	width: 270px;
	border: none;
	margin: 0 0 0 0;
	padding: 0 7px 0 12px;
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 95px;
	border-bottom: 1px solid #acbdaf;
	font-size: 16px;
	line-height: 16px;
	color: #010102;
	font-family: 'Foundry Origin W01';
	background-color: rgba(255,255,255,.1);
	border-radius: 0px;
	cursor: pointer;
}

	.content__sidebar__region.content__sidebar__region--mobile {
		width: 100%;
		position: relative;
		float: left;
	}
	
	.content__sidebar__region select:hover {
		background-color: rgba(255,255,255,.2);
	}

	.content__sidebar__region:after {
		content: " ";
		position: absolute;
		right: 20px;
		top: 137px;
		width: 17px;
		height: 17px;
		background-image: url('lib/img/kfeg_arrow_down.svg');
		background-position: center top;
		background-size: contain;
		background-repeat: no-repeat;
		pointer-events: none;
	}
	
	.content__sidebar__region.content__sidebar__region--mobile select {
		position: relative;
		float: left;
		width: auto;
		top: 0;
		height: 30px;
		padding-left: 15px;
		padding-right: 55px;
		color: #000;
		background-color: #fff;
		border: none;
	}
	
	.content__sidebar__region.content__sidebar__region--mobile:after {
	    right: auto;
	    margin-left: -30px;
	    top: 11px;
	    z-index: 3001;
	}
	
	.content__sidebar__region__wrapper--mobile { display: none; }

.content__sidebar__button {
	position: relative;
	float: left;
	clear: both;
	width: 90px;
	height: 95px;
	z-index: 7001;
	border-bottom: 1px solid #acbdaf;
}

	.content__sidebar__button:hover {
		background-color: #acbdaf;
	}
	
	.content__sidebar__button img {
		position: absolute;
		top: 50%;
		left: 30px;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	
	.content__sidebar__button span {
		opacity: 0;
		margin-left: -100px;
	    position: absolute;
	    left: 90px;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	        -ms-transform: translateY(-50%);
	            transform: translateY(-50%);
	}

	.content__sidebar__button[rel=init_region_module].showlabel:before {
		content: 'NL';
		position: absolute;
	    top: 24px;
	    right: 37px;
		width: auto;
		height: auto;
		color: #fff;
		z-index: 2001;
		font-size: 12px;
		font-weight: 700;
		opacity: 0;
		margin-top: -20px;
	}
	
		.content__sidebar__button[rel=init_region_module].showlabel.visible:before {
			opacity: 1;
			margin-top: 0;
		}
	
	.content__sidebar__button[rel=init_region_module] img.world {
		top: 60%;
		left: 25px;
		height: auto;
		width: 27px;
	}

	.content__sidebar__button[rel=init_region_module] img.lang {
		left: 31px;
		height: auto;
		width: 27px;
		top: 20px;
		opacity: 0;
	}
	
		.content__sidebar__button[rel=init_region_module] img.lang.visible {
			top: 40px;
			opacity: 1;
		}
		
	.content__sidebar__button[rel=init_region_module] img.marker {
		left: 31px;
		height: auto;
		width: 31px;
		opacity: 0;
		top: 20px;
	}
	
		.content__sidebar__button[rel=init_region_module] img.marker.visible {
			top: 50px;
			opacity: 1;
		}

	
	/* NAVIGATION -- OPEN */
	body.navopen .content__sidebar__button {
		width: 290px;
	}
	
	body.navopen .header__visual__pageitems__item,
	body.navopen .content__sidebar__button span {
		opacity: 1;
		margin-left: 0;
	}
	
	.header__nav__underlay {
		position: fixed;
		top: 0;
		left: -360px;
		width: 360px;
		height: 100vh;
		background-color: #8da997;
		background-color: transparent;
		z-index: -1;
	}
	
		body.state_nav_open .header__nav__underlay { left: 0; }
		
	.site {
		z-index: 5001;
	}
	body.state_nav_open .site {
		position: fixed;
		left: 360px;
		pointer-events: none;
	}
	
	/*body.state_nav_open .site { margin-left:540px; }*/
	body.state_nav_open { overflow-x: hidden; }

		
	/*
	body.navopen.minimal--default .header__nav .header__visual__navitem span,
	body.navopen .header__nav--small .header__visual__navitem span {
		opacity: 1;
	}
	*/
	
	/* ELEMENTS -- MINIMAL LAYOUT */
	body.minimal--default .header__visual__textlogo {
		margin-left: -360px;
		opacity: 0;
	}
	
	body.state_nav_open .header__visual__textlogo {
		margin-left: 22px;
		opacity: 1;
	}
	

/* Content wrapper */
.content {
	z-index: 5001;
	pointer-events: none;
}

.content__wrapper {
	background-color: #fff;
	position: relative;
	float: left;
	width: 100%;
	margin-top: -40px;
	padding: 60px 50px 60px 50px;
	pointer-events: all;
}

	.content__wrapper--nomargin {
		margin-top: 0;
	}
	
	.content__wrapper--nopadding {
		padding: 0 0 0 0;
	}
	
	.content__wrapper__inner {
		position: relative;
		float: left;
		padding: 60px 50px 60px 50px;
	}
	
	.content--tracker .content__wrapper {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-top: 0;
	}
	
	.content--tracker .fullwithmap {
		min-height: 90vh;
	}

	.content__wrapper__back {
		position: fixed;
		right: 0px;
		top: 110px;
		width: 90px;
		height: 90px;
		background-color: #654017;
		cursor: pointer;
		z-index: 4001;
	}
	
		.content__wrapper__back svg {
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			width: 100%;
			height: 30%;
		}
		
		.content__wrapper__back:hover {
			background-color: #000;
		}
		
	/* Breadcrumb */
	.content__wrapper__top__wrapper {
		position: fixed;
		right: 0px;
		top: 110px;
		z-index: 4001;
		width: 90px;
		height: auto;
		min-height: 50vh;
		top: 50px;
		opacity: 0;
	}
	
		body.show--breadcrumb .content__wrapper__top__wrapper {
			top: 0px;
			opacity: 1;
		}
	
	.content__wrapper__top {
		position: relative;
		float: left;
		width: 90px;
		height: 90px;
		background-color: #654017;
		cursor: pointer;
	}
	
		.content__wrapper__top svg {
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			width: 100%;
			height: 30%;
		}
		
		.content__wrapper__top__wrapper:hover .content__wrapper__top {
			background-color: #000;
		}
		
		.content__wrapper__top__text {
			position: absolute;
			top: 110px;
			width: auto;
			transform: rotate(-90deg);
			transform-origin: left;
			color: #fff;
			font-size: 26px;
			line-height: 26px;
			text-decoration: none;
			font-family: 'Foundry Origin W01';
			white-space: nowrap;
			left: 45px;
			text-align: right;
		}
		
			.content__wrapper__top__wrapper:hover .content__wrapper__top__text { }
		
			.content__wrapper__top__text strong {
				color: #fff;
				font-weight: 600;
			}

body.home .content__wrapper {
	margin-top: -143px;
}

/*
----------------------------------------------------------------------
CONTENT SLIDESHOWS
----------------------------------------------------------------------
*/

	.content__slideshow {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
	}
	
	.content__slideshow button {
		-webkit-appearance: none;
		border: none;
		background: transparent url("lib/img/kfeg_arrow_left.svg") center center no-repeat;
		background-size: contain;
		position: absolute;
		left: 0px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
		z-index: 2001;
		width: 40px;
		height: 40px;
		opacity: 0;
		cursor: pointer;
	}


		.content__slideshow button.slick-next {
			left: auto;
			right: 0;
			background: transparent url("lib/img/kfeg_arrow_right.svg") center center no-repeat;
			background-size: contain;
		}
		
		.content__slideshow:hover button.slick-next {
			right: 20px;
			opacity: 1;
		}
	
		.content__slideshow:hover button.slick-prev {
			left: 20px;
			opacity: 1;
		}

/*
----------------------------------------------------------------------
NIEUWS TEMPLATE
----------------------------------------------------------------------
*/

	/* Poster & header */
	.content__wrapper__postertop {
		margin-bottom: 45px;
	}
	
		.content__wrapper__postertop img {
			width: 100%;
			max-width: none;
			height: auto;
		}
	
	.content__wrapper__article__header {
		margin-bottom: 45px;
	}
	
	.content__wrapper__article__fill {
		position: relative;
		float: left;
		width: 100%;
		min-height: 560px;
		height: auto;
		background-color: #F4F4F4;
	}
	
	/* Related articles */
	.related__wrapper {
		position: relative;
		float: left;
		width: 100%;
		background-color: #f2f2f2;
		padding: 30px 50px 50px 30px;
		pointer-events: all;
	}
	
	.related__item a {
		text-decoration: none;
	}
	
	h2.h2--related--header {
		font-size: 20px;
		width: 100%;
		padding-left: 20px;
		margin: 20px 0 40px 0;
	}
	
	.h2--related {
		font-size: 27px;
		line-height: 34px;
		font-weight: 600;
		width: 85%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.related__item .content__filter__item__excerpt {
		padding-bottom: 20px;
		border-bottom: 1px solid #c3c3c3;
	}
	
	.related__item:hover h2 {
		text-decoration: underline;
	}
	
	/* More news wrapper */
	.morenews__wrapper {
		position: relative;
		float: left;
		width: 100%;
		background-color: #fff;
		background-color: #f2f2f2;
		padding: 70px 50px 50px 30px;
		pointer-events: all;
	}
	
	.related__column + .morenews__column .morenews__wrapper {
		background-color: #fff;
	}


/*
----------------------------------------------------------------------
AGENDA TEMPLATE
----------------------------------------------------------------------
*/

.item__infotop {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

	.item__infotop__row {
		position: relative;
		float: left;
		width: 100%;
		clear: both;
	}
	
	.item__infotop__label {
		position: relative;
		float: left;
		width: 100px;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 13px;
		clear: none;
	}
	
	.teim__infotop__value {
		position: relative;
		float: left;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 13px;
		clear: right;
	}

/*
----------------------------------------------------------------------
PROJECT TEMPLATE 
----------------------------------------------------------------------
*/

	/* Jumbo slider */
	.content__jumbo__slider__wrapper {
		position: relative;
		float: left;
		width: 100%;
		height: 710px;
		background-color: #F4F4F4;
		background-color: #000;
		overflow: hidden;
		margin-top: -40px;
	}
	
		.content__jumbo__slider__wrapper img {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 100%;
			height: auto;
			-webkit-transform: translate(-50%,-50%);
			    -ms-transform: translate(-50%,-50%);
			        transform: translate(-50%,-50%);
			z-index: 1001;
		}
		
		.content__jumbo__slider__left {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 5001;
			background-image: url('lib/img/kfeg_arrow_left.svg');
			background-position: center center;
			background-repeat: no-repeat;
			background-color: rgba(0,0,0,.4);
			background-size: 40px auto;
			width: 90px;
			height: 90px;
			left: -90px;
			opacity: 0;
		}
		
		.content__jumbo__slider__right {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 5001;
			background-image: url('lib/img/kfeg_arrow_right.svg');
			background-position: center center;
			background-repeat: no-repeat;
			background-color: rgba(0,0,0,.4);
			background-size: 40px auto;
			width: 90px;
			height: 90px;
			right: -90px;
			opacity: 0;
		}
		
		.content__jumbo__slider__wrapper:hover .content__jumbo__slider__left {
			left: 0;
			opacity: 1;
		}
		
		.content__jumbo__slider__wrapper:hover .content__jumbo__slider__right {
			right: 0;
			opacity: 1;
		}
				
		.content__jumbo__slider__caption {
			z-index: 4001;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: auto;
			min-height: 180px;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 14%,rgba(0,0,0,0.7) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 14%,rgba(0,0,0,0.7) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
		}
		
			.content__jumbo__slider__wrapper a {
				position: relative;
				float: left;
				width: 100%;
				height: 100%;
				pointer-events: all;
			}
			
			.content__jumbo__slider__wrapper a:hover {

			}
		
		.content__jumbo__slider__title {
			color: #fff;
			text-align: center;
			width: 100%;
			font-size: 68px;
			line-height: 68px;
			font-weight: 600;
			pointer-events: none;
			padding: 0 2%;
		}
	
		.content__jumbo__slider__category {
			color: #ccc;
			text-align: center;
			width: 100%;
			font-size: 24px;
			line-height: 24px;
			text-transform: uppercase;
			margin: 30px 0 50px 0;
			letter-spacing: 1px;
			pointer-events: none;
		}
		
	/* Project columns */
	.content__wrapper--left {
		padding: 80px 88px;
	}
	
	.content__wrapper--right {
		background-color: #ececec;
		padding: 80px 80px;
		padding-top: 47px;
	}
	
	/* Project description */
	.content--styled.content__wrapper--left p:first-child {
		font-size: 20px;
		line-height: 30px;
		font-weight: 200;
	}
	
	/* Project attachments */
	.content__wrapper__attachments {
		position: relative;
		float: left;
		width: 100%;
		margin: 40px 0 0 0;
	}
	
	.content--styled .content__wrapper__attachment-item,
	.content--styled .bijlage {
	/*.content--styled a[href$='.pdf'] {*/
		position: relative;
		float: left;
		width: auto;
		clear: both;
		
		color: #66400b;
		text-decoration: underline;
		text-transform: uppercase;
		margin: 0 0 10px 0;
	}
	
		.content--styled .content__wrapper__attachment-item:before,
		.content--styled .bijlage:before {
		/*.content--styled a[href$='.pdf']:before {*/
			content: "";
			position: absolute;
			left: -35px;
			background: transparent url('lib/img/kfeg_arrow_right_brown.svg') left center no-repeat;
			width: 20px;
			height: 12px;
			background-size: cover;
			margin-top: 5px;
		}
	
		.content--styled .content__wrapper__attachment-item:hover,
		.content--styled a[href$='.pdf']:hover,
		.content--styled .bijlage:hover {
			color: #fff;
			background-color: #66400b;
		}
		
		.content--styled .content__wrapper__attachment-item:hover:before,
		.content--styled a[href$='.pdf']:hover:before,
		.content--styled .bijlage:hover:before {
			left: -30px;
		}
	
	
	/* Project details */
	.content__wrapper__details-label {
		position: relative;
		float: left;
		width: auto;
		clear: both;
		margin: 0 0 5px 0;
		
		text-transform: uppercase;
		color: #8da996;
		font-size: 14px;
		font-weight: 500;
		
	}
	
	.content__wrapper__details-largelogo { 
		position: relative;
		float: left;
		width: 50%;
		height: auto;
		margin: -15px 0 20px 0;
	}
	
	.content__wrapper__details-info {
		position: relative;
		float: left;
		width: 100%;
		margin-bottom: 25px;
	}
	
		.content--styled .content__wrapper__details-info a {
			color: #000;
			text-decoration: underline;
		}
	
		.content__wrapper__details-info--jumbo {
			font-size: 48px;
			line-height: 58px;
			font-weight: 500;
			margin-bottom: 65px;
		}
		
		.content__wrapper__details-logo {
			width: 100px;
			height: auto;
			display: table-cell;
			vertical-align: middle;
			padding: 0 25px 0 0;	
		}
		
			.content__wrapper__details-logo img {
				mix-blend-mode: multiply;
			}
		
			.content--styled .content__wrapper__details-logo a:hover {
				background-color: transparent;
			}
		
		

/* SWITCH VIEW */
.content__switch__view {
	position: absolute;
	right: 0;
	top: 142px;
	width: 60px;
	height: 60px;
	background-color: #654017;
	cursor: pointer;
	z-index: 6001;
	pointer-events: all;
}

	.content__switch__view svg#mapicon,
	.content__switch__view svg#mapclose {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
	}
	
	.content__switch__view svg#mapclose {
		opacity: 0;
	}
	
	.content__switch__view:hover {
		background-color: #1a171b;
	}
	
	body.mapopen .content__switch__view svg#mapicon {
		opacity: 0;
	}
	
	body.mapopen .content__switch__view svg#mapclose {
		opacity: 1;
	}
	
	body.mapopen .content__switch__view {
		top: 110px;
		width: 90px;
		height: 90px;
	}
	
	body.mapopen .content.project .content__switch__view { 
		top: 780px;
		width: 90px;
		height: 90px;
		z-index: 5001;
	}

/* CONTENT MAP */
.content__mapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3001;
	display: none;

}

	.content__mapper--project {
		z-index: 1;
		top: 0;
	}

	.content__mapper__marker {
		background-color: #654017;
		width: 60px;     
		height: 60px;
		border-radius: 50%;
		z-index: 0;
	}
	
		.content__mapper__marker img { 
			width: 30px; 
			height: auto; 
			margin-left: 50%; 
			margin-top: 50%; 
			-webkit-transform: translate(-50%,-50%); 
			    -ms-transform: translate(-50%,-50%); 
			        transform: translate(-50%,-50%); 
		}

/* CONTENT SIDEBAR */
.sidebar__wrapper {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}

.sidebar__wrapper--grey {
	padding: 35px 20px 0 20px;
	background-color: #f5f6f4;
}

.sidebar__wrapper__thumbnail {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
}

.sidebar__wrapper__thumbnail img {
	position: relative;
	float: left;
	width: 100%;
	height: auto;	
}

.sidebar__wrapper__map {
	position: relative;
	float: left;
	width: 100%;
	height: 350px;
}

	.sidebar__wrapper__map .content__filter__item__date {
		margin-top: -15px;
		z-index: 2001;
	}
	
	.sidebar__wrapper__mapobject {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: #f5f6f4;
	}

/* PROJECT DETAILS SIDEBAR */
.project__details__data {
	position: relative;
	float: left;
	width: 100%;
	margin: 15px 0 35px 0;
}
	
	.project__details__data li {
		position: relative;
		float: left;
		width: 100%;
		margin: 0 0 10px 0;
	}

	.project__details__data__label {
		position: relative;
		float: left;
		width: 30%;	
		text-transform: uppercase;
		font-size: 12px;
	}

	.project__details__data__value {
		position: relative;
		float: left;
		width: 70%;	
	}
	
.sidebar__wrapper--projectlogo {
	border: 1px solid #f5f6f4;
}

	.sidebar__wrapper--projectfunding-supporter {
		width: 48%;
		position: relative;
		float: left;		
	}
		
	.sidebar__wrapper--projectfunding-supporter label {
		width: 48%;
	}
		
/* Content wrapper filter */
.content__filter__types {
	position: relative;
	float: left;
	width: auto;
	text-align: center;
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	margin-bottom: 44px;
}

	.content__filter__types--subpages { width: 100%; margin-bottom: 34px; }
	
	.content__filter__type {
		display: inline-block;
	}
	
	.content__filter__type:after {
		content: " - ";
		margin: 0 5px;
	}
	
	.content__filter__type:last-child:after {
		content: "";
	}
	
	.content__filter__type a {
		position: relative;
		float: left;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 15px;
		letter-spacing: 2px;
		font-weight: 200;
		border-bottom: 1px solid transparent;
		margin-bottom: 15px;
	}
	
	.content__filter__type.active a,
	.content__filter__type a:hover {
		color: #8da997;
		border-color: #8da997;
	}
	
	body.page .content__filter__type a {
		border: 1px solid #000;
		padding: 5px 10px 4px 10px;
	}
	
		body.page .content__filter__type.active a,
		body.page .content__filter__type a:hover {
			border-color: #8da997;
		}
	
	body.page .content__filter__type:after {
		content: " ";
	}
	
/* Content wrapper filtered items */
.content__filter__items {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	min-height: 300px;
}

	.content__filter__item {
		position: relative;
		float: left;
		height: auto;
		margin-bottom: 25px;
		width: 100%;
	}
		
	.content__filter__item a {
		text-decoration: none;
		position: relative;
		float: left;
		width: 100%;
		height: auto;
	}
	
	.content__filter__item a:hover h2 {
		text-decoration: underline;
	}
	
	.content__filter__item--agenda {
		margin-top: 15px;
	}
	
	.content__filter__item--project {
		padding-bottom: 70px;
		padding-bottom: 20px;
	}
	
	.content__filter__wrapper {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		background-color: #f5f6f4;
		padding: 35px 27px;
	}
	
		.content__filter__item--agenda.history .content__filter__item__date {
			background-color: #ffffff;
			color: #888;
			white-space: nowrap;
		}
	
		.content__filter__item--borders {
			border-top: 1px solid #808283;
			border-bottom: 1px solid #808283;
		}
	
	
	.content__filter__item__metatop {
		position: relative;
		float: left;
		width: 100%;
		margin: 0 0 50px 0;
	}
	
		.content__filter__item__metatop--large {
			font-size: 18px;
		}
		
		.content__filter__item__metatop--small {
			font-size: 12px;
			text-transform: uppercase;
		}
	
	.content__filter__item__datetop {
	    position: relative;
	    float: left;
	    width: auto;
	    margin-left: 50%;
	    -webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	    background-color: #1a171b;
	    text-align: center;
	    padding: 12px 20px;
	    font-size: 26px;
	    line-height: 26px;
	    color: #fff;
	    margin-top: 0px;
	    margin-bottom: 60px;
	}
		.content__filter__item__metatop--category,
		.content__filter__item__metatop--date,
		.content__filter__item__metatop--author,
		.content__filter__item__icons {
			position: relative;
			float: left;
			width: auto;
			margin: 0 10px 0 0;
		}
	
		.content__filter__item__icons svg {
			position: relative;
			float: left;
			width: auto;
			height: 17px;
			margin: 0 15px 0 0;
		}
		.content__filter__item__icons svg path {
			fill: #241e1e;
		}
	
	.content__filter__item__metabottom {
		position: relative;
		float: left;
		width: 100%;
		margin: 20px 0 0 0;
		text-transform: uppercase;
		font-size: 14px;
	}
	
	.content__filter__item__meta--small {
		font-size: 13px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 21px;
	}
	
	.content__filter__item__meta--project {
		position: relative;
		float: left;
		font-size: 13px;
		text-transform: uppercase;
		margin-top: 17px;
	}
	
	.content__filter__item--quote {
		padding-bottom: 70px;	
	}
	
	.content__filter__item h2 {
		margin-bottom: 50px;
		margin-bottom: 10px;
	}
	
	.content__filter__item__thumbnail,
	.content__filter__item__projectthumbnail {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		margin: 16px 0 16px 0;
	}
	
		.content__filter__item__thumbnail img {
			position: relative;
			float: left;
		}
	
	.content__filter__item__quote {
		font-size: 32px;
		line-height: 37px;
		color: #8da997;
		font-weight: 600;
		margin: 0 0 10px 0;
	}

	.content__filter__item__date {
		position: relative;
		float: left;
		width: auto;
		margin-left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
		background-color: #1a171b;
		text-align: center;
		padding: 7px 15px;
		font-size: 19px;
		line-height: 19px;
		color: #fff;
		margin-top: -50px;
	}
	
	.content__filter__item__projectthumbnail {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
	}
	
	.content__filter__backdrop {
		width: 100%;
		position: absolute;
		bottom: 0;
		height: 150px;
		z-index: 0;
	    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 14%,rgba(0,0,0,0.7) 100%);
	    background: linear-gradient(to bottom, rgba(0,0,0,0) 14%,rgba(0,0,0,0.7) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
	}


	.content__filter__item__projectthumbnail img {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
	}
	
	.content__filter__item__projectthumbnail h2 {
		position: absolute;
		bottom: 23px;
		left: 8px;
		width: 100%;
		font-size: 43px;
		line-height: 43px;
		font-weight: 600;
		color: #fff;
		margin: 0 0 0 0;
		z-index: 2001;
	}
	
	.social__share {
		position: relative;
		float: left;
		width: auto;
		clear: both;
	}
	
		.social__share--footer {
			padding-top: 102px;
		}
	
		.social__share__icon {
			position: relative;
			float: left;
			width: auto;
			margin: 0 10px 0 0;
			padding: 7px 5px;
			width: 40px;
			height: 40px;
			text-align: center;
			background-color: #654017;
		}
		
		.social__share__icons:hover {
			background-color: #000;
		}
		
		.social__share--footer .social__share__icon {
			width: 50px;
			height: 50px;
			background-color: #809987;
			padding: 12px 5px;
		}
		
		.social__share--footer .social__share__icon:hover {
			background-color: #000;
		}
		
		.social__share--footer .social__share__icon--twitter {
			padding-top: 14px;
		}
		
		.social__share__icon img {
			width: auto;
			height: 24px;
		}
		
			.social__share__icon--twitter {
				padding-top: 9px;
			}
			.social__share__icon--twitter img {
				height: 20px;
			}
	
	
/* Salvattore */
	.filter__item__wrapper {
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		margin-bottom: 100px;
		border-bottom: 1px solid #eee;
	}
	
		.filter__item__wrapper--projecten {
			border-bottom: 0;
			margin-bottom: 0;
		}
	
	.content__filter__items[data-columns]::before {
		content: '3 .column.size-1of3';
	}
	
	/* These are the classes that are going to be applied: */
	.column { float: left; }
	.size-1of1 { width: 100%; }
	
	.size-1of2 { width: 50%; }
	.size-1of2:nth-child(odd) {
		padding-right: 25px;
	}	
	.size-1of2:nth-child(even) {
		padding-left: 25px;
	}
	
	.size-1of3 { width: 33%; }
	.size-1of3:nth-child(1) {
		padding-right: 30px;
		/*background-color: lightgreen;*/
	}	
	.size-1of3:nth-child(2) {
		padding-left: 15px;
		padding-right: 15px;
	}
	.size-1of3:nth-child(3) {
		padding-left: 30px;
		/*background-color: pink;*/
	}
	
.content__filter__loadmore,
.content--styled .content__filter__loadmore {
	position: relative;
	float: left;
	width: auto;
	height: 50px;
	font-family:'Itchy Handwriting W00';
	font-size: 32px;
	background-color: #654017;
	color: #fff;
	text-transform: uppercase;
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	text-decoration: none;
	padding: 15px 45px;
	margin-top: 20px;
}

.content__filter__loadmore:hover {
	background-color: #000603;
}


/* Nieuwsbrief form */
.nieuwsbrief_bar {
	background-color: #8da997;
	z-index: 6001;
}

.nieuwsbrief_bar_wrapper {
	padding-top: 80px;
	padding-bottom: 70px;
	background-color: #8DA997;		
}

.nieuwsbrief_form_wrapper .top_label .gfield_label {
	text-transform: uppercase;
	text-align: right;
	font-weight: 400 !important;
	width: 25%;
	width: 30%;
	padding-left: 5%;
	font-family: 'thinskinned';
	line-height: 19px;
	float: left;
	padding-right: 30px;
}

.nieuwsbrief_form_wrapper .gfield_required {
	display: none;
}

.nieuwsbrief_form_wrapper label.gfield_label+div.ginput_container {
	width: 70%;
	float: left;
}

.nieuwsbrief_form_wrapper label.gfield_label+div.ginput_container input[type=email] {
	border: none;
	height: 50px;
	font-family: 'thinskinned';
	line-height: 19px;
	font-size: 19px;
	padding-left: 20px;
	color: #8da997;
	float: right;
	border-radius: 0px;
	-webkit-appearance: none;
	float: left;
}

.nieuwsbrief_form_wrapper .gform_body {
	position: relative;
	float: left;
	width: 99%;
	clear: none;
}

.nieuwsbrief_form_wrapper .gform_footer {
	position: relative;
	float: left;
	width: 5%;
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
	clear: none !important;
	margin-left: -55px !important;
	margin-left: -70px !important;
}

.nieuwsbrief_form_wrapper .gform_footer button {
	width: 55px;
	height: 50px;
	background-color: #809987;
	border: none;
	-webkit-appearance: none;
	text-indent: -1000px;
	overflow: hidden;
	margin-top: 6px;
	cursor: pointer;
	position: relative;
	float: left;
}

.nieuwsbrief_form_wrapper .gform_footer button:hover {
	background-color: #000603;
}

.nieuwsbrief_form_wrapper .gform_footer button svg {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}


/*
=================================================================================
PAGES
content specific arrangemen of templates
=================================================================================
*/


	/* Body & HTML defaults
	--------------------------------------------------------------------------- */
	body, html, * {
		box-sizing:border-box;
		-webkit-font-smoothing: antialiased;
	    font-family:'Foundry Origin W01';
		font-style: normal;
		font-weight: 400;
		color: #010102;
		font-size: 16px;
		line-height: 22px;
	}
	
	body {
		background-color: #8da997;
		padding-top: 100vh;
	}

	body:not(.home) {
		padding-top: 150px;
	}
	
	/* Animation classes 
	--------------------------------------------------------------------------- */
	.header__nav--small .header__visual__navitem span,
	.animated {
		-webkit-transition: all 275ms cubic-bezier(.55,0,.1,1);
		        transition: all 275ms cubic-bezier(.55,0,.1,1);
	}

	/* Interactions
	--------------------------------------------------------------------------- */
	.auto-center,.auto-center-x,.auto-center-y,.auto-center-xy { opacity: 0; }
	.fullclick * { cursor: pointer; }
	a,img,button,.fullclick,input,input:focus,select,textarea { outline: none !important; }

	.section { width: 1560px; width: 100%; max-width: 100%; }

	/* Default styling
	--------------------------------------------------------------------------- */
	.content--styled p,
	.content--styled td,
	.content--styled li,
	.content--styled strong,
	.content--styled em {
		font-size: 16px;
		line-height: 26px;
	}
	
	.content--styled a {
		color: #8da997;
	}
	
	.content--styled a:hover {
		background-color: #8da997;
		color: #fff;
		text-decoration: none;
	}
	
	.content--styled h2 {
		text-align: left;
		position: relative;
		float: left;
		display: block;
		width: 100%;
		font-size: 39px;
		line-height: 39px;
		margin: 0 0 52px 0;
		padding: 0 0 0 40px;
	}
	
	.content--styled h3 {
		text-align: left;
		position: relative;
		float: left;
		display: block;
		width: 100%;
		font-size: 20px;
		line-height: 26px;
		margin: 0 0 6px 0;
		padding: 0 0 0 0;
	}

	.content--styled p {
		margin: 0 0 36px 0;
	}
	
	.content--styled ul {
		list-style-type: disc;
		list-style-position: outside;
		display: block;
		position: relative;
		float: left;
		width: 100%;
		clear: both;
		margin: 0 0 36px 17px;
		padding-left: 27px;
	}
	
	.content--styled ol {
		list-style-type: decimal;
		list-style-position: outside;
		display: block;
		position: relative;
		float: left;
		width: 100%;
		clear: both;
		margin: 0 0 36px 17px;
	}
	
	.content--styled li {
		width: 100%;
		display: list-item;
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 26px;
	}
	
	.content--styled strong {
		font-weight: 600;
	}
	
	.content--styled em {
		font-style: italic;
	}
	
	.content--styled blockquote p,
	.content--styled blockquote em,
	.content--styled blockquote strong {
		font-weight: 400;
		font-size: 38px;
		line-height: 42px;
		opacity: .85;
		font-style: italic;
	}
	
	.content--styled blockquote p {
		padding-left: 60px;
	}
	
	.content--styled img.alignleft {
	    display: inline-block;
	    float: left;
	    margin: 5px 20px 0px 0;
	    max-width: 100%;
	    height: auto;
	}
	
	.content--styled img.alignright {
	    display: inline-block;
	    float: right;
	    margin: 5px 0 0px 20px;
	    max-width: 100%;
	    height: auto;
	}


/*
=================================================================================
LIGHTBOX
=================================================================================
*/
.nivo-lightbox-theme-default .nivo-lightbox-close {
	background: transparent url('lib/img/kfeg_mapsclose_icon.svg') center center no-repeat;
	background-size: contain;
	width: 30px;
	height: 30px;
}


/*
=================================================================================
FOOTER
=================================================================================
*/

/*
=================================================================================
FORMS
=================================================================================
*/

.content--styled .gform_wrapper {
	border: 1px solid #8da997;
	width: 100%;
	max-width: 100%;
	padding: 28px 38px 35px 38px;
}

	.content--styled .gform_wrapper .gfield_html.gfield_no_follows_desc {
		font-size: 20px;
		line-height: 30px;
	}

	.content--styled .gform_wrapper .top_label .gfield_label {
		text-transform: uppercase;
		font-size: 13px;
		color: #010102;
		font-weight: 600;
		margin-bottom: 5px;
	}
	
	.content--styled .gform_wrapper input[type=email], 
	.content--styled .gform_wrapper input[type=number], 
	.content--styled .gform_wrapper input[type=password], 
	.content--styled .gform_wrapper input[type=tel], 
	.content--styled .gform_wrapper input[type=text], 
	.content--styled .gform_wrapper input[type=url],
	.content--styled .gform_wrapper textarea {
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-ms-border-radius: 0px;
		-moz-border-radius: 0px;
		background-color: rgba(246, 246, 246, 0.5);
		border: none;
		border-top: 1px solid #8da997;
		min-height: 50px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.content--styled .gform_wrapper .gfield_required {
		line-height: 18px;
		color: #8da997;
	}
	
	.content--styled .gform_wrapper .top_label li.gfield,
	.content--styled .gform_wrapper .top_label li.gfield.gf_right_half,
	.content--styled .gform_wrapper .top_label li.gfield.gf_left_half {
		margin-bottom: 14px;
	}
	
	.content--styled .gform_wrapper li.notification {
		position: absolute;
		float: right;
		width: auto;
		left: 230px;
		margin-top: 30px;
		color: #6b6a6a;
		font-size: 14px;
	}
	
		.content--styled .gform_wrapper li.notification span {
			color: #8da997;
		}

	.content--styled .gform_wrapper div.validation_error {
		color: #fff;
		margin-bottom: 1.6em;
		clear: both;
		border: none;
		width: 100%;
		background-color: #ff5400;
		font-weight: 700;
		font-size: 16px;
		padding: 19px;
		line-height: 16px;
	}
	
	.content--styled .gform_confirmation_message {
		position: relative;
		float: left;
		color: #fff;
		margin-bottom: 1.6em;
		clear: both;
		border: none;
		width: 100%;
		background-color: #8da997;
		font-weight: 400;
		font-size: 14px;
		padding: 19px;
		line-height: 14px;
	}
	
	.content--styled .gform_wrapper .top_label li.gfield.gfield_error.gf_left_half {
		margin-right: 0;
		width: 49% !important;
	}
	
	.content--styled .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
		margin: .625em 0 .5em;
		margin-bottom: 5px;
	}
	
	.content--styled .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
		margin-top: .375em;
		margin-left: 0;
	}
	
	.content--styled .gform_wrapper li.gfield_error input[type=email], 
	.content--styled .gform_wrapper li.gfield_error input[type=number], 
	.content--styled .gform_wrapper li.gfield_error input[type=password], 
	.content--styled .gform_wrapper li.gfield_error input[type=tel], 
	.content--styled .gform_wrapper li.gfield_error input[type=text], 
	.content--styled .gform_wrapper li.gfield_error input[type=url], 
	.content--styled .gform_wrapper li.gfield_error textarea {
		border: none;
		border-top: 1px solid #ff5400;
	}
	
	.content--styled .gform_wrapper .hidden_label input.large, 
	.content--styled .gform_wrapper .hidden_label select.large, 
	.content--styled .gform_wrapper .top_label input.large,
	.content--styled .gform_wrapper .top_label select.large {
		width: 100%;
	}
	
	.content--styled .gform_wrapper li.gfield.gfield_error, 
	.content--styled .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
		border: none;
		background-color: transparent;
	}

	.content--styled .gform_wrapper .top_label .gfield_error input.large, 
	.content--styled .gform_wrapper .top_label .gfield_error select.large, 
	.content--styled .gform_wrapper .top_label .gfield_error textarea.textarea {
		width: 100%;
	}
	.content--styled .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
		max-width: 99%;
	}
	
	.content--styled .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
		margin-left: 0;
		font-size: 14px;
		color: #ff5400;
		font-weight: 400;
	}
	
	.content--styled .gform_wrapper .gform_footer {
		padding-bottom: 50px;
	}
	
	.content--styled .gform_wrapper .gform_footer button {
		width: auto;
		height: 50px;
		background-color: #809987;
		border: none;
		-webkit-appearance: none;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		float: left;
	    font-family: 'thinskinned';
	    color: #fff;
	    font-size: 18px;
	    padding: 0 65px 0 25px;
	}
	
	.content--styled .gform_wrapper .gform_footer button:hover {
		background-color: #000603;
	}
	
	.content--styled .gform_wrapper .gform_footer button svg {
		position: absolute;
		right: 25px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
		
		
/*
=================================================================================
SITE PRESENTATION
=================================================================================
*/

.site__presentation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	height: 100vh;
	z-index: 10001;
	display: none;
}

	.site__presentation .loader {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

		.site__presentation__continue {
		    border: 2px solid #fff;
		    border-radius: 50px;
		    color: #fff;
		    text-align: center;
		    font-family: 'Itchy Handwriting W00';
		    text-transform: uppercase;
		    font-size: 32px;
		    padding: 17px 45px 17px 25px;
		    text-decoration: none;
		    -webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		    transform: translateX(-50%);
		    margin-top: 30px;
		    width: auto;
		    min-width: 275px;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		}
		
		.site__presentation__continue svg {
		    position: absolute;
		    width: 24px;
		    height: 22px;
		    top: 17px;
		    right: 20px;
		}
		
	.site__presentation__continue:hover {
		background-color: #fff;
		color: #000702 !important;
	}
	
	.site__presentation__continue:hover svg {
		right: 15px;	
	}
	
	.site__presentation__continue:hover svg path {
		fill: #000702;
	}
		
	.site__presentation .inner {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: #8da997;
	}
	

body.state_presentation {
	overflow: hidden !important;
}


/* TWITTER */

#twitter {
	width: 100%;
	background: #f5f6f4;
	margin: 0px auto;
	padding: 20px;
	margin-bottom: 30px;
	margin-top: 15px;
	color: black;
}

.tweetslider button {
	font-size: 50px;
}

.tweetslider a {
	color: black;
}

.tweetslider ul {
	position: relative;
	float: left;
	width: 50%;
    margin: 0px auto;
    text-align: right;
    text-align: left;
}

.tweetslider ul li {
	display: inline-block;
	position: relative;
	float: left;
	width: auto;
	clear: none;
}

.tweetslider ul li button {
	color: grey;
	clear: none;
	-webkit-appearance: none;
	padding: 0 0 0 0;
}

.tweetslider ul li button:hover {
	color: black;
}

.tweetslider ul li.slick-active button {
	color: #acbdaf;
}

.tweetslider .content__filter__item__quote {
	padding-bottom: 20px !important;
	font-size: 25px !important;
	font-weight: 500;
	color: black;
}

.social__share--tweetslider {
	position: relative;
	float: right;
	width: auto;
	padding-top: 0;
	margin-top: -60px;
}
	
	.social__share--tweetslider .social__share__icon {
		background-color: transparent;
		opacity: .50;
	}
	.social__share--tweetslider .social__share__icon:hover {
		opacity: 1;
	}


/*
=================================================================================
PRINT
=================================================================================
*/
@media print {

    div.print,div.desktop,div.smartphone,div.tabletprotrait,div.tabletlandscape { display: none; } div.print { display: block; }

    /* Set page margins */
    @page :first { margin: 0 0.6cm 0.5cm 0.5cm; }
    @page { margin: 1.5cm 0.6cm 0.5cm 0.5cm; }

}


/*
=================================================================================
SPECIAL BREAKPOINT - SCREENS WITH SMALL HEIGHT
=================================================================================
*/
@media screen and (max-height: 1010px) {
	
	/* Content */
	body.home .content__wrapper { margin-top: -10px; }
	
	/* Nav */
	.header__nav { padding-top: 132px; }
	.header__visual__pageitems { top: 530px; }
}

/*
=================================================================================
FIRST BREAKPOINT - STATIC MINIFY
=================================================================================
*/
@media screen and (max-width: 1580px) {

    div.print,div.desktop,div.smartphone,div.tabletportrait,div.tabletlandscape { display: none; } div.desktop { display: block; }
	
	/* Grid */
	.section {
		width: 100%;
	}
	
	/* Columns */
	.content__filter__items[data-columns]::before { content: '2 .column.size-1of2'; }
	
	/* Content */
	.content__switch__view { width: 50px; height: 50px;	}
		
}

/*
=================================================================================
EXTRA BREAKPOINT - SMALLER SCREENS
=================================================================================
*/

@media screen and (max-width: 1279px) {
	
	div.print,div.desktop,div.smartphone,div.tabletportrait,div.tabletlandscape { display: none; } div.desktop { display: block; }
	
	/* Grid */
	.section { width: 100%; }
	.content-subpage__grid .col_spacer,
	.content-subpage__duocolumn .col_spacer { display: none; }
	.content-subpage__grid .col_7,
	.content-subpage__duocolumn .col_7 { width: 50%; }

	/* Visual header + menu */
	.content-header__title { bottom: 160px; }
	.content-header__menu { bottom: 13px; }
	.menu-item { margin-bottom: 27px; }
	.menu-item a { font-size: 18px; }
	
	/* Content */
	.content__wrapper .col_3,
	.content__wrapper .col_4,
	.morenews__wrapper .col_2 { display: none; }
	.content__wrapper .content--styled,
	.morenews__wrapper .col_12,
	.content__wrapper__postertop { width: 100%; }
	.content__wrapper__article__header { padding-left: 50px; padding-right: 50px; }
	.content__filter__item__datetop { white-space: nowrap; }
	
}


/*
=================================================================================
FIRST BREAKPOINT - TABLETS
=================================================================================
*/
@media only screen and (max-height : 768px) {
	
	div.print,div.desktop,div.smartphone,div.tabletportrait,div.tabletlandscape { display: none; } div.tabletlandscape { display: block; }
	
	/* Content */
	.content__filter__types { width: 100%; }
	body.home .content__wrapper { margin-top: -78px; }
	
	/* Projecten */
	.content__jumbo__slider__wrapper { height: 420px; }
	.content__jumbo__slider__title { font-size: 48px; line-height: 48px; }
	
	/* Nav */
	.header__nav { width: 50%; }
	.header__nav .header__visual__navitems { display: none; }
	.header__visual__pageitems { display: none; }
	.header__nav--small .header__visual__extraitems { top: 515px; }
	.header__visual--small { height: 515px;     background-position: center top; }
	.header__mobilenav { left: -100%; }
	.header__mobilenav .header__visual__pageitems { display: block; top: 70px; }
	.header__mobilenav .header__visual__pageitems__item { left: 0; }
	body.state_mobilenav_open .header__mobilenav { left: 0; }
	body.state_mobilenav_open .header__visual__brand { opacity: 0; pointer-events: none; }
	body.state_mobilenav_open .header > * { opacity: .2; }
	.header__mobilenav .header__visual__textlogo {
		margin-top: 50px;
		margin-left: 40px;
	}
	body.home .header__visual__icon {
		opacity: 1;
		left: 0;
	}
	body:not(.home) .header__visual__interaction__button {
		margin-left: 0;
		float: right;
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
		margin-right: 90px;
	}
	body:not(.home) .header__visual__interaction {
		float: right;
		width: 100%;
	}
	body.minimal--default .header__mobilenav .header__visual__textlogo {
		margin-left: 40px;
		opacity: 1;
	}
	
	/* Top */
	body .header__visual__icon {
		left: 0;
		opacity: 1;
	}
	body .header__visual__close--mobile { left: 20px; top: 34px; display: block; }
	.header__visual__logo { 
		position: absolute;
		left: 0;
		top: 0;
	}
	body.home .header__mobilenav .header__visual__textlogo { opacity: 1;}
	
	/* Search */
	.content__sidebar__search { width: 422px; width: 100%; padding-left: 90px; z-index: 2001; }
	.content__sidebar__region select { width: 100%; padding-left: 90px; z-index: 2001; }
	
	/* Related */
	.morenews__wrapper .related__item .h2--related,
	.related__wrapper .related__item .h2--related { font-size: 22px; line-height: 28px; width: 100%; }
}

/*
=================================================================================
SECOND BREAKPOINT - SMALL
=================================================================================
*/
@media screen and (max-width: 1024px) {

	/* Nieuwsletter */
	.nieuwsbrief_bar .nomobile { display: none; }
	.nieuwsbrief_form_wrapper .gform_body { width: 90%; margin-left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
	.nieuwsbrief_bar .nieuwsbrief_bar_wrapper { width: 100%; padding-top: 30px; padding-bottom: 60px; }
	.nieuwsbrief_form_wrapper .top_label .gfield_label {
		width: 100%;
		float: left;
		text-align: left;
		padding-left: 0;
	}
	.nieuwsbrief_form_wrapper label.gfield_label+div.ginput_container {
		width: 100%;
		padding-left: 0;
	}
	.nieuwsbrief_form_wrapper label.gfield_label+div.ginput_container input[type=email] {
		float: left;
		width: 100%;
	}
	.nieuwsbrief_form_wrapper .gform_footer {
	    position: absolute;
	    right: 56px;
	    bottom: 60px;
	}

	/* Related */
	.related__wrapper .col_2 { display: none; }
	.related__wrapper .col_12 { width: 100%; }
	.morenews__wrapper .related__item,
	.related__wrapper .related__item { width: 33.33%; }
	
	/* Footer social */
	.nieuwsbrief_bar .col_2 {
		width: 100%;
		text-align: center;
	}
	
	.social__share--footer {
		padding-top: 0px;
		padding-bottom: 40px;
		width: 100%;
		text-align: center;
	}
	
	.social__share--footer .social__share__icon {
		display: inline-block;
		float: none;
	}
	
	.social__share--footer .social__share__icon--twitter {
		padding-top: 16px;
	}
	
}

/*
=================================================================================
SECOND BREAKPOINT - SMALLER SCREENS
=================================================================================
*/
@media screen and (max-width: 1023px) {
	
	/* Columns */
	.content__filter__items[data-columns]::before { content: '1 .column.size-1of1';	}
	
	/* Filter types */
	.content__filter__types { width: 100%; margin-left: 0; -webkit-transform: none; -ms-transform: none; transform: none;	}

	/* Project */
	.content__jumbo__slider__wrapper { height: 442px; }
	.content__jumbo__slider__title { font-size: 48px; line-height: 48px; }
	.content__wrapper__details-info--jumbo { font-size: 38px; line-height: 48px; }
	
	/* Header */
	body:not(.home) .header__visual__interaction { width: 100%; padding-right: 90px; -webkit-transform: none; -ms-transform: none; transform: none; margin-left: 0; top: 10px; }
	body:not(.home) .header__visual__interaction__button { float: right; -webkit-transform: none; -ms-transform: none; transform: none; margin-left: 0; }
	body:not(.home) .content__jumbo__slider__caption { padding: 0 30px; }
	
	/* Content */
	.content__wrapper--left,
	.content__wrapper--right { padding-left: 50px; padding-right: 50px; }
	.h1--single { font-size: 48px; line-height: 55px; }
	
	/* Meta */
	.content__filter__item__icons svg { margin-right: 10px; }
	
	/* Loop */
	.content__filter__item__projectthumbnail h2 { font-size: 33px; line-height: 33px; }
	
	/* Related */
	.related__wrapper .col_2 { display: none; }
	.related__wrapper .col_12 { width: 100%; }
	.morenews__wrapper .related__item,
	.related__wrapper .related__item { width: 100%; }
		
}


/*
=================================================================================
THIRD BREAKPOINT - LOW RESOLUTIONS (iPAD)
=================================================================================
*/
@media screen and (max-width: 767px) {

    div.print,div.desktop,div.smartphone,div.tabletportrait,div.tabletlandscape { display: none; } div.smartphone { display: block; }
	
	/* Body */
	body { padding-top: 85vh; }
	body.home .header { height: 85vh; }
	
	/* Content */
	.content__wrapper { padding-left: 20px; padding-right: 20px; }
	body.home .content__wrapper { margin-top: 0px; }
	.content__wrapper--left,
	.content__wrapper--right { padding: 50px 20px; }
	.content__wrapper { padding: 50px 20px; }
	.content__wrapper--nopadding  { padding: 0 0; }
	.content__wrapper__details-info--jumbo { font-size: 23px; line-height: 33px; }
	.content__wrapper__article__header { padding-left: 0; padding-right: 0; }
	.h1--single { font-size: 38px; line-height: 45px; }
	.content__filter__item h2 { word-break: break-word; }
	.h2--large { font-size: 31px; line-height: 38px; max-width: 100%; }
	.content__filter__item__quote { font-size: 27px; line-height: 32px; }
	
	/* Jumbo slider */
	.content__jumbo__slider__title { font-size: 38px; line-height: 38px; }
	.content__jumbo__slider__category { font-size: 18px; line-height: 17px; }
	
	/* Navigation */
	.header__nav { display: none; }
	
	/* Maps */
	.content__switch__view { display: none; }
	
	/* Header */
	.header__visual__interaction__button { display: none; }
	.header__visual__interaction h2 { font-size: 48px; }
	.header__top { padding-top: 17px; }
	.header__top .col_5 { display: none; }
	.header__top .col_11 { width: 100%; }
	.header__top .header__visual__textlogo { display: none; }
	.header__visual__interaction { 
		top: auto;
		bottom: 40px;
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
		margin-left: 0; 
		width: 100%;
		
	}
	.header__visual__interaction h3 {
		font-size: 25px;
	}
	.header__visual__interaction h2 {
		text-align: center;
		width: 100%;
		position: relative;
		float: left;
		font-size: 30px;
		line-height:43px;
	}
	.header__visual:not(.header__visual--small) { background-image: url('/wp-content/uploads/CH-portret-silent-spring-bewerkt-def-mobiel-hr.jpg') !important; }
	.header__visual__logo { position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); display: block !important; width: 120px; margin-left: 0; }
	body:not(.home) .header__top .header__visual__textlogo { display: block; width: 170px; margin-top: 20px; }
	.content__jumbo__slider__wrapper img { left: auto; top: auto; -webkit-transform: none; -ms-transform: none; transform: none; position: relative; float: left; }
	.content__jumbo__slider__wrapper { height: auto; }
	.header__top:before {
		content: " ";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 140px;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 90%);
		background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 90%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
		-webkit-transition: all 275ms cubic-bezier(.55,0,.1,1);
		        transition: all 275ms cubic-bezier(.55,0,.1,1);
	}
	body.mobile--snap .header__top:before { height: 90px; }
	body.mobile--snap .header__visual__logo { margin-top: -100px; opacity: 0; }
	
	/* Content */
	.h2--large { font-size: 26px; line-height: 31px; }
	.h1--archive { font-size: 32px; line-height: 26px; }
	.h3--subtitle { font-size: 21px; line-height: 26px; }
		
	/* Newsletter */
	.nieuwsbrief_form_wrapper .top_label .gfield_label {
		text-align: center;
		padding-right: 0;
		width: 100%;
	}
		
	content__sidebar__region__wrapper--mobile {
		display: block;
	}
	
	/* Related */
	.related__wrapper {
		padding-left: 0px; padding-right: 20px;
	}
	.morenews__wrapper { 
		padding-left: 0px; padding-right: 20px;
	}
	
	/* More loader */
	.content__filter__loadmore, .content--styled .content__filter__loadmore {
		width: 100%;
		text-align: center;
	}
	
	/* Mobile menu */
	.header__mobilenav .header__visual__textlogo { margin-left: 80px; width: 170px; margin-top: 38px; }
	.header__mobilenav .col_8 { width: 100%; }
	.header__mobilenav { width: 100%; left: -100%; height:100%; height: 100vh; }
	.header__mobilenav .header__visual__pageitems { display: block; position: relative; float: left; width: 100%; clear: both; top: 0; margin-top: 40px; }
	.header__mobilenav .header__visual__pageitems__item { left: 0; }
	body.state_mobilenav_open .header__mobilenav { left: 0; }
	body.state_mobilenav_open .header__visual__brand { opacity: 0; pointer-events: none; }
	body.state_mobilenav_open .header > * { opacity: .2; }
	.header__mobilenav .header__visual__textlogo {
	    margin-top: 40px;
	    margin-left: 80px;
	}
	.header__mobilenav .header__visual__close { 
		position: absolute;
		left: 17px;
		left: 12px;
		display: block !important;
		top: 20px;
	}
	.header__visual__icon { margin-left: -6px; }
	
	.header__visual__navitem { margin-bottom: 20px; padding-left: 60px; }
	.header__visual__navitem img { width: 30px; }
	.header__mobilenav .header__visual__pageitems { margin-top: 30px; }
	
	.header__mobilenav {
		overflow: scroll;
		padding-bottom: 20px;
	}
	
	/* Site */
	body.state_mobilenav_open .site {
	    position: relative;
	    left: auto;
	}
	
	/* Tweets */
	#twitter {
		padding: 5px;
	}
	
	.tweetslider .content__filter__item__quote {
		font-size: 20px !important;
	}
	
}


/*
=================================================================================
SECOND BREAKPOINT - SMALL DEVICES (LDPI)
=================================================================================
*/
@media screen and (max-width: 767px) {

    div.print,div.desktop,div.smartphone,div.tabletportrait,div.tabletlandscape { display: none; } div.smartphone { display: block; }
    
    
    
}

/* IE fixes */